
<div class="card">
    <p-messages [(value)]="messages" [enableService]="false"></p-messages>
    <p-messages [(value)]="messages1" [enableService]="false" [closable]="false"></p-messages>
</div>
<div class="card flex justify-content-center">
    <p-button (click)="showDialog()" icon="pi pi-external-link" label="Add Program"></p-button>
    <p-dialog header="Header" [(visible)]="visible" [style]="{width: '50vw'}">
          <form (ngSubmit)="upload(text.value)">
            <div class="form-group">
              <label for="imageFile">Image:</label>
              <input type="file" id="imageFile" (change)="onImageFileChange($event)" class="form-control">
            </div>
            <div class="form-group">
              <label for="text">Text:</label>
              <input type="text" id="text" #text class="form-control">
            </div>
            <button type="submit" class="btn btn-primary">Upload</button>
          </form>
    </p-dialog>
</div>
    <div class="container mx-auto">
        <h1 class="text-2xl font-bold text-center mt-8 mb-4">Program List</h1>
        <table class="w-full border-collapse table-auto">
            <thead>
                <tr class="bg-gray-200">
                    <th class="py-2 px-4 border"></th>
                    <th class="py-2 px-4 border">Program</th>
                    <th class="py-2 px-4 border">Action</th>
                </tr>
            </thead>
            <tbody  *ngFor="let prog of program">
                <tr class="bg-gray-100 hover:bg-gray-200 transition duration-200">
                    <td class="py-4 px-4 border">
                        <img class="w-12 h-12 object-cover rounded-full" src="{{prog.imageUrl}}"
                            alt="User Image">
                    </td>
                    <td class="py-4 px-4 border">{{prog.program}}</td>
                    <td class="py-4 px-4 border">
                        <button
                            class="bg-red-500 hover:bg-red-600 text-white px-4 py-2 rounded-md transition duration-200"
                            (click)="deleteProgram(prog._id)">Delete</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
