<div class="max-w-md mx-auto mt-8">
    <form>
      <div class="mb-4">
        <label for="name" class="block text-gray-700 text-sm font-bold mb-2">Course Name</label>
        <input type="text" id="name" name="name" class="form-input w-full px-4 py-2 rounded-lg focus:outline-none focus:shadow-outline" placeholder="John Doe">
      </div>
      <label for="name" class="block text-gray-700 text-sm font-bold mb-2">Program</label>
      <mat-form-field appearance="fill" class="form-input w-full px-4 py-2 rounded-lg focus:outline-none focus:shadow-outline">
        <mat-label class="form-input w-full px-4 py-2 rounded-lg focus:outline-none focus:shadow-outline">Choose Program</mat-label>
        <mat-select [disabled]="" class="form-input w-full px-4 py-2 rounded-lg focus:outline-none focus:shadow-outline">
          <mat-option value="option1">Option 1</mat-option>
          <mat-option value="option2">Option 2</mat-option>
          <mat-option value="option3">Option 3</mat-option>
        </mat-select>
      </mat-form-field>
      <label for="name" class="block text-gray-700 text-sm font-bold mb-2">Language</label>
      <mat-form-field appearance="fill" class="form-input w-full px-4 py-2 rounded-lg focus:outline-none focus:shadow-outline">
        <mat-label class="form-input w-full px-4 py-2 rounded-lg focus:outline-none focus:shadow-outline">Choose Language</mat-label>
        <mat-select [disabled]="" class="form-input w-full px-4 py-2 rounded-lg focus:outline-none focus:shadow-outline">
          <mat-option value="option1">Option 1</mat-option>
          <mat-option value="option2">Option 2</mat-option>
          <mat-option value="option3">Option 3</mat-option>
        </mat-select>
      </mat-form-field>
      <div class="mb-4">
        <label for="email" class="block text-gray-700 text-sm font-bold mb-2">Description of the Course</label>
        <input type="text" class="form-input w-full px-4 py-2 rounded-lg focus:outline-none focus:shadow-outline" placeholder="Write a description">
      </div>
      <!-- Image Upload -->
      <div>
        <label for="imageFile">Image File:</label>
        <input type="file" id="imageFile" formControlName="imageFile">
      </div>
  
      <!-- Video Upload -->
      <div>
        <label for="videoFile">Video File:</label>
        <input type="file" id="videoFile" formControlName="videoFile">
      </div>
  
      <div class="flex items-center justify-between">
        <button type="submit" class="bg-blue-500 text-white py-2 px-4 rounded-lg hover:bg-blue-600 transition duration-300 ease-in-out" routerLink="/admin/add-topics">Add Topics</button>
      </div>
    </form>
  